body * {
  border: 1px solid red;

}

body {
  background-color: #0d0d0d;
  color: white;
}

section {
  height: 95vh;
}

/* home */
/* projects */
/* skills */

.skill-icon {
  height: 50px;
}

/* about */
/* contact */